
ul li {
display: flex;
flex-direction: column;
margin: 5px;
padding: 10px 20px;
background: white;
text-transform: uppercase;
text-align: center;
}
.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer {
    display: flex;
    justify-content: space-between;
}

/* Media Queries */
@media screen and (min-width: 320px) {
    .full-text {
        display: none;
    }
}
@media screen and (min-width: 768px) {

  .start {
      display: flex;
      justify-content: center; 
      margin-bottom: 50px;
  }  
  .list {
      background: none; 
  }
  .profile {
      float: right;
      margin-top: 20px;
      text-align: left;
      width: 250px;
  }
  .container {
      display: flex;
      flex-wrap: wrap;
      margin-top: 300px;
      
  }
  .item {
      width: 50%;
      justify-content: center;
      align-items: center;

  }
  img {
    width: 360px; 
    margin-left: 10px;
  }
  .last-p {
      margin: 16px 75px;
  }
  .short-text {
      display: none;
  }
  .full-text {
      display: flex;
      justify-content: center;
      margin-top: 0;
      margin-bottom: 40px;
  }
  #portfolio {
    block-size: auto;
    position: relative;
    margin-top: 150px;
    text-align: center;
    top: 250px;
    
    }
}
@media screen and (min-width: 1024px) {
    .main-header,
    .main-nav {
        display: flex;
    }
    .main-header {
        flex-direction: row;
    }  
    .container {
        display: flex;
        flex-wrap: wrap;
        margin-top: 300px;
        
    }
    .item {
        width: 33%;
        justify-content: center;
        align-items: center;
    }
}