* {
    font-family: 'Quicksand', sans-serif;
}
header, .end {
background-color: #f8f8ff		;
}
h1, h2, h3 {
    margin-top: 20px;
    text-align: center;
}
h2 {
    font-size: 16px;
}
ul {
    padding: 0;
}
img {
    width: 300px;
    margin: auto;
    display: block;
}
.profile {
    width:200px;
    margin-top: 30px;
    display: block;
}
p {
    text-align: center;
}
.contact {
    block-size: auto;
    text-align: center;
    
}
a {
    text-decoration: none;
    color: gray;

}



